/* auth-styles.css */
.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  position: relative;
  z-index: 1;
}


.auth-form-wrapper {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(to bottom, #6a4dad, #8b76bd, #ddd3f5);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.auth-toggle {
  display: none;
}

.auth-signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.auth-form-label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.auth-form-input {
  width: 60%;
  height: 10px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.auth-form-button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.auth-form-button:hover {
  background: #6d44b8;
}

.auth-login {
  height: 460px;
  box-shadow: inset 0 2px 0 rgb(241, 237, 245);
  background: linear-gradient(to bottom,#ddd3f5, #8b76bd, #6a4dad);
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 1.3s ease-in-out;
}

.auth-login .auth-form-label {
  color: #573b8a;
  transform: scale(.6);
}

.auth-toggle:checked ~ .auth-login {
  transform: translateY(-500px);
}

.auth-toggle:checked ~ .auth-login .auth-form-label {
  transform: scale(1);	
}

.auth-toggle:checked ~ .auth-signup .auth-form-label {
  transform: scale(.6);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #6a4dad, #af93eb);
  z-index: -1;
}
